/* start variable */
:root{
    --main-transtion:0.4s;
    --x-padding:50px;
    --main-color:#FFD333;
    --second-color:#3D464D;
    --text-color:#6C757D;
}
/* end variable */
/* start global rule */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
}
/* end global rule */

/* start first nav */
.first-nav{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--x-padding);
}
.first-nav .left ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-nav .left ul li{
    margin-right: 15px;
}
.first-nav .left ul li a{
    text-decoration: none;
    color: #6C757D;
}
.first-nav .left ul li a:hover{
    text-decoration: underline;
}
.first-nav .right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.first-nav .right .account{
    white-space: nowrap;
    position: relative;
    background-color: #FFf;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #fff;
    transition: var(--main-transtion);
    -webkit-transition: var(--main-transtion);
    -moz-transition: var(--main-transtion);
    -ms-transition: var(--main-transtion);
    -o-transition: var(--main-transtion);
}
.first-nav .right .account:hover{
    color: #212529;
    background-color: #ececec;
    border:1px solid #e6e6e6;
}
.first-nav .right .account i{
    margin-left: 10px;
}
.first-nav .right .account .drop-list{
    display: none;
}
.first-nav .right .account .drop-list.show{
    display: block;
    position: absolute;
    list-style: none;
    background-color: #fff;
    width: 180px;
    top: 100%;
    right: 0;
    padding: 15px 0;
    border: 1px solid var(--text-color);
}
.first-nav .right .account .drop-list li:not(:last-of-type){
    margin-bottom: 10px;
}
.first-nav .right .account .drop-list li{
    padding: 10px 10px;
    transition: var(--main-transtion);
    -webkit-transition: var(--main-transtion);
    -moz-transition: var(--main-transtion);
    -ms-transition: var(--main-transtion);
    -o-transition: var(--main-transtion);
}
.first-nav .right .account .drop-list li:hover{
    background-color: #f8f9fa;
}
.first-nav .right .shop{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    gap: 20px;
}
.first-nav .right .shop .like ,
.first-nav .right .shop .cart{
    display: flex;
}
.first-nav .right .shop i{
    margin-right: 5px;
    color: #3D464D;
}
.first-nav .right .shop span{
    border: 1px solid #3D464D;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    width: 16px;
    height: 16px;
    line-height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* end first nav */
